@use "./style.scss" as *;

.banner {
    @include width-block;
    position: relative;
    height: 223px;
    @include radius-block;
    overflow: hidden;

    &__image {
        object-fit: cover;
        filter: brightness(0.5);
        position: absolute;
        background-position: center;
        height: 100%;
    }

    .banner-text {
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        position: relative;
        @include flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 48px;
    }
}

@media (max-width: 768px) {
    .banner {
        .banner-text {
            font-size: 26px;

        }
    }

}

@media (max-width: 375px) {
    .banner {
        @include width-block;
        position: relative;
        height: 111px;
        overflow: hidden;
        border-radius: 10px;

        .banner-text {
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
            position: relative;
            @include flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            width: 55%;
            padding-left: 10px;
        }
    }
}