@use '../style.scss' as *;

.logement-div {
    display: flex;

    .host-stars-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.collapse-logement-div {
    display: flex;
    justify-content: space-between;
    margin: 0;
    gap: 70px;
}