@use '../style.scss' as *;

.errorpage {
    color: #FF6060;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 50px;

    h1 {
        font-size: 288px;
    }

    p {
        font-size: 36px;
    }

    .errorpage__link {
        color: black;
    }
}