@use '../style.scss' as *;

header {
    @include flex;
    justify-content: space-between;
    margin-top: 20px;

    .header-logo {
        height: 68px;
        width: 210px;
        margin: 0;
    }
}