@use "./style.scss" as *;

header {
    @include flex;
    justify-content: space-between;
    padding-top: 45px;

    .header-logo {
        width: 210px;
        margin: 0;
    }
}

// @media (max-width: 768px) {
//     header {

//         padding-top: 20px;

//         .header-logo {
//             width: 145px;
//             margin: 0;
//         }

//     }
// }

@media (max-width: 375px) {

    header {

        padding-top: 20px;

        .header-logo {
            width: 145px;
            margin: 0;
        }

    }
}