@use "./style.scss" as *;

main {
    gap: 50px;
    display: $flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 375px) {
    main {

        gap: 20px;
    }
}