@use '../style.scss' as *;

// Title {}
.host {

    display: flex;
    margin: 0;
    justify-content: end;
    gap: 10px;


    h1 {

        color: #ff6060;
        font-size: 18px;
        line-height: 26px;
        max-width: min-content;
        text-align: right;
        font-weight: 500;
        margin: 0;

    }

    .host-img {

        border-radius: 100px;
        height: 64px;
        width: 64px;
        margin: 0;
    }

    // .full-star,
    // .empty-star {
    //     width: 25px;
    //     height: 25px;

    // }
}