@use '../style.scss' as *;

.host {
    display: flex;
    margin: 0;
    justify-content: end;
    gap: 10px;

    h1 {
        color: #ff6060;
        font-size: 18px;
        line-height: 26px;
        max-width: min-content;
        text-align: right;
        font-weight: 500;
        margin: 0;
    }

    &__image {
        border-radius: 100px;
        height: 64px;
        width: 64px;
        margin: 0;
    }
}