@use '../style.scss' as *;

.navigation {
    width: 309px;
    margin: 0;
    @include flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;

    li {
        text-align: end;

        .nav-active,
        .nav-inactive {
            color: $black;
            font-size: 24px;
        }

        .nav-active {
            text-decoration: underline;
        }

        .nav-inactive {
            text-decoration: none;
        }
    }
}